<div class="footer">
  <div class="container">
    <h2 class="footer-message">For work inquiries, collaboration or feedback james.c.mcf@gmail.com</h2>
    <%= link_to 'Linkedin', 'https://www.linkedin.com/in/james-mcfadzean-98287355/', class: "footer-link" %>
    <%= link_to 'Github', 'https://github.com/cmcfadzean', class: "footer-link" %>
  </div>
</div>
