<div class="hello">
  <div class="container">
    <h2 class="hello-name">James McFadzean<br />VP of UX, Currently at Kajabi</h2>
    <h1 class="hello-message">Creating digital experiences that customers love.</h1>
  </div>
</div>
