.project {
  color: #fff;
  margin-bottom: 80px;
  &-img {
    margin-bottom: 20px;
    border-radius: 5px;
  }
  &-title {
    font-size: 24px;
    margin-bottom: 0;
  }
  &-language {
    margin-bottom: 0;
    opacity: .8;
  }
  &-link {

  }
}
